/.metadata/
ws-inmo-mother/.mvn/wrapper/MavenWrapperDownloader.java
ws-inmo-mother/.mvn/wrapper/maven-wrapper.properties
ws-inmo-mother/.mvn/wrapper/maven-wrapper.jar
*.jar
ws-inmo-mother/.mvn/wrapper/maven-wrapper.jar
ws-inmo-mother/mvnw
ws-inmo-mother/mvnw.cmd
ws-inmo-mother/.mvn/wrapper/maven-wrapper.jar
ws-inmo-mother/.mvn/wrapper/maven-wrapper.jar
ws-inmo-mother/.gitignore
.gitignore
