.card-width {
    max-width: 400px;
  }
  
  .header-image-arrendatario {
    background-image: url('/assets/img/icons/colaboracion.svg');
    background-size: cover;
  }

  .header-image-propietario {
    background-image: url('/assets/img/icons/jefe.svg');
    background-size: cover;
  }

  .header-image-contrato {
    background-image: url('/assets/img/icons/contrato.svg');
    background-size: cover;
  }
  
  .header-image-pago-contrato {
    background-image: url('/assets/img/icons/metodo-de-pago.svg');
    background-size: cover;
  }

  .header-image-gastos-contrato {
    background-image: url('/assets/img/icons/calculador.svg');
    background-size: cover;
  }
  
  .header-image-usuario {
    background-image: url('/assets/img/icons/usuario.svg');
    background-size: cover;
  }
  
  .header-image-informe {
    background-image: url('/assets/img/icons/carta-de-barras.svg');
    background-size: cover;
  }

  .header-image-help {
    background-image: url('/assets/img/icons/acerca-de.svg');
    background-size: cover;
  }
  
  .mat-card-image {
    max-width: 7rem;
    max-height: 7rem;
    margin-left: 30%;
  }

  mat-card-title {
    color: dodgerblue;
    text-align: center;
  }

  p {
      text-align: justify;
  }

  button {
    background-color: dodgerblue;
    color: aliceblue;
    width: 50%;
    font-size: 13pt;
  }