<div class="row m-5">
    <div class="col">
        <mat-card>
            <mat-card-title>Arrendatario</mat-card-title>
        </mat-card>
    </div>
    <div class="col">
        <mat-card>
            <mat-card-title>Propietario</mat-card-title>
        </mat-card>
    </div>
    <div class="col">
        <mat-card>
            <mat-card-title>Contrato</mat-card-title>
        </mat-card>
    </div>
    <div class="col">
        <mat-card>
            <mat-card-title>Pagos contrato</mat-card-title>
        </mat-card>
    </div>
</div>

<div class="row m-5">
    <div class="col">
        <mat-card>
            <mat-card-title>Gastos contrato</mat-card-title>
        </mat-card>
    </div>
    <div class="col">
        <mat-card>
            <mat-card-title>Usuarios</mat-card-title>
        </mat-card>
    </div>
    <div class="col">
        <mat-card>
            <mat-card-title>Informes</mat-card-title>
        </mat-card>
    </div>
    <div class="col">
        <mat-card>
            <mat-card-title>Ayuda</mat-card-title>
        </mat-card>
    </div>
</div>