<app-navbar class="position-absoluted"></app-navbar>
<div class="row m-5">
    <div class="col">
        <mat-card class="card-width"
                matTooltip="Gestiona los arrendatarios registrados, verifica el estado de los contratos asociados entre otras.">
            <mat-card-header>
                <div mat-card-avatar class="header-image-arrendatario"></div>
                <mat-card-title>Arrendatario</mat-card-title>
            </mat-card-header>
            <mat-card-content class="mt-2">
                <img mat-card-image src="/assets/img/icons/colaboracion.svg">
            </mat-card-content>
            <mat-card-actions>
                <button class="w-100" mat-raised-button>Gestionar</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="col">
        <mat-card class="card-width"
                matTooltip="Gestiona los propietario registrados, verifica el estado de los predios asociados entre otras.">
            <mat-card-header>
                <div mat-card-avatar class="header-image-propietario"></div>
                <mat-card-title>Propietario</mat-card-title>
            </mat-card-header>
            <mat-card-content class="mt-2">
                <img mat-card-image src="/assets/img/icons/jefe.svg">
            </mat-card-content>
            <mat-card-actions>
                <button class="w-100" mat-raised-button >Gestionar</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="col">
        <mat-card class="card-width"
                matTooltip="Gestiona los contratos registrados, verifica el estado de los mismos entre otras.">
            <mat-card-header>
                <div mat-card-avatar class="header-image-contrato"></div>
                <mat-card-title>Contrato</mat-card-title>
            </mat-card-header>
            <mat-card-content class="mt-2">
                <img mat-card-image src="/assets/img/icons/contrato.svg">
            </mat-card-content>
            <mat-card-actions>
                <button class="w-100" mat-raised-button>Gestionar</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="col">
        <mat-card class="card-width"
                matTooltip="Administra, registra los pagos de los contratos registrados, verifica el estado de los mismos entre otras.">
            <mat-card-header>
                <div mat-card-avatar class="header-image-pago-contrato"></div>
                <mat-card-title>Pagos contrato</mat-card-title>
            </mat-card-header>
            <mat-card-content class="mt-2">
                <img mat-card-image src="/assets/img/icons/metodo-de-pago.svg">
            </mat-card-content>
            <mat-card-actions>
                <button class="w-100" mat-raised-button >Gestionar</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>

<div class="row m-5">
    <div class="col">
        <mat-card   class="card-width" 
                    matTooltip="Administra, registra los gastos de los contratos registrados, verifica el estado de los mismos entre otras.">
            <mat-card-header>
                <div mat-card-avatar class="header-image-gastos-contrato"></div>
                <mat-card-title>Gastos contrato</mat-card-title>
            </mat-card-header>
            <mat-card-content class="mt-2">
                <img mat-card-image src="/assets/img/icons/calculador.svg">
            </mat-card-content>
            <mat-card-actions>
                <button class="w-100" mat-raised-button >Gestionar</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="col">
        <mat-card   class="card-width" 
                    matTooltip="Administra los usuarios del sistema siempre y cuando tengas acceso.">
            <mat-card-header>
                <div mat-card-avatar class="header-image-usuario"></div>
                <mat-card-title>Usuarios</mat-card-title>
            </mat-card-header>
            <mat-card-content class="mt-2"> 
                <img mat-card-image src="/assets/img/icons/usuario.svg">
            </mat-card-content>
            <mat-card-actions>
                <button class="w-100" mat-raised-button >Gestionar</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="col">
        <mat-card class="card-width"
                  matTooltip="Visualiza los informes generados a partir de la información registrada.">
            <mat-card-header>
                <div mat-card-avatar class="header-image-informe"></div>
                <mat-card-title>Informes</mat-card-title>
            </mat-card-header>
            <mat-card-content class="mt-2"> 
                <img mat-card-image src="/assets/img/icons/carta-de-barras.svg" alt="Photo of a Shiba Inu">
            </mat-card-content>
            <mat-card-actions>
                <button class="w-100" mat-raised-button >Gestionar</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="col">
        <mat-card class="card-width"
                  matTooltip="Acerca de...">
            <mat-card-header>
                <div mat-card-avatar class="header-image-help"></div>
                <mat-card-title>Acerca de...</mat-card-title>
            </mat-card-header>
            <mat-card-content class="mt-2"> 
                <img mat-card-image src="/assets/img/icons/acerca-de.svg">
            </mat-card-content>
            <mat-card-actions>
                <button class="w-100" mat-raised-button >Acerca de...</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>